<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
   <style>
    footer {
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 1rem;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    footer p {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }

   </style>
</head>
<body>
  

    <footer>
        <p>&copy; 2023 MyWebsite. All rights reserved.</p>
    </footer>
</body>
</html>
