<!DOCTYPE html>
<html>

<head>

    <style>
        
        body {
            margin: 0;
            padding: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
        }

        /* Style for the navigation bar */
        nav {
            background-color: #333;

        }

     
        nav ul li {

            margin-left: 20px;
        }

      
        nav ul li a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 15px;
            /* background-color: lightblue; */
            


        }

        
        nav ul li a:hover {
            background-color: #555;
        }
    </style>

</head>

<body>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>

        </ul>
    </nav>

    <!-- Content of the website goes here -->

</body>

</html>